#map {
  height: 400px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 15px;
}

#githubLink {
  color: #fff;
}

#githubLink:hover {
  color: #ccc;
}

#submitButton {
  margin-top: 32px;
}